/*Below is for the on click popup of image*/
div {
  position: absolute;
  height: 800px;
  background-color: gray;
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

img   {
  position: absolute;
  top: 40px;
  left: 200px;
}
/*above is for on click popup image*/